# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#Pycharm
.idea/


# Environments
venv/


*.docx
analyticsreporting.dat
client_secrets.json
private_key.json
firestore_key.json